ul
  li.facebook: a(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=http://chazsouthard.com/')
  li.twitter: a(target='_blank', href='http://twitter.com/intent/tweet?url=http://chazsouthard.com/&text=The%20portfolio%20of%20Chaz%20Southard%0A')
  li.gplus: a(target='_blank', href='https://plus.google.com/share?url=http://chazsouthard.com/')